---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";

const repos = await fetch("https://api.github.com/users/kvrohit/repos");
const allRepos = await repos.json();
const featuredRepos = [
  "substrata.nvim",
  "rasmus.nvim",
  "mellow.nvim",
  "tasks.nvim",
  "fortune",
];

export interface Repo {
  name: string;
  description: string;
  stargazers_count: number;
  html_url: string;
}
---

<Layout title="Home - kvrohit.dev">
  <Hero title="Hi there!" subtitle="Welcome to kvrohit.dev" animate={true} />
  <div class="container mx-auto max-w-screen-xl">
    <div class="grid sm:grid-cols-2 divide-x divide-y divide-gray-800 border border-gray-800 remove-border"
    >
      {
        (allRepos ?? [])
          .filter((repo: Repo) => featuredRepos.includes(repo.name))
          .sort((a: Repo, b: Repo) => b.stargazers_count - a.stargazers_count)
          .map((repo: Repo) => (
            <Card
              title={repo.name}
              body={repo.description}
              href={repo.html_url}
              stars={repo.stargazers_count}
              icon={repo.description.includes("color") ? "color" : "code"}
            />
          ))
      }
    </div>
  </div>
</Layout>
<style>
  .remove-border {
    a:nth-child(2) {
      border-top: 0;
    }
  }
</style>