---
import ColorBox from "../components/ColorBox.astro";
import Palette from "../components/Palette.astro";

const normalColors = [
  "#27272a",
  "#f5a191",
  "#90b99f",
  "#e6b99d",
  "#aca1cf",
  "#e29eca",
  "#ea83a5",
  "#c1c0d4",
];
const brightColors = [
  "#353539",
  "#ffae9f",
  "#9dc6ac",
  "#f0c5a9",
  "#b9aeda",
  "#ecaad6",
  "#f591b2",
  "#cac9dd",
];
const grays = [
  "#131314",
  "#1b1b1d",
  "#2a2a2d",
  "#3e3e43",
  "#57575f",
  "#757581",
  "#9998a8",
  "#c1c0d4",
];
const bgAndFg = ["#161617", "#c9c7cd"];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Mellow - Theme showcase</title>
  </head>
  <body class="text-[#c9c7cd] bg-[#161617]">
    <header class="p-6 bg-[#27272a]">
      <h1 class="text-3xl font-bold">Mellow</h1>
      <section class="hero text-center my-24">
        <h2 class="text-4xl font-bold mb-8 font-serif">
          A soothing, dark color palette.
        </h2>
        <p class="text-xl mb-10">
          Crafted to be easy on the eyes with a focus on code readability.
        </p>
        <a
          class="py-2 px-4 border rounded bg-[#c1c0d4] text-[#161617] hover:bg-[#27272a] hover:text-[#c9c7cd] active:bg-[#c9c7cd] active:text-[#161617]"
          href="https://github.com/kvrohit/mellow.nvim">GitHub</a
        >
      </section>
    </header>

    <main class="">
      <section id="palette" class="py-24 px-6 space-y-24">
        <Palette title="Normal">
          {normalColors.map((color) => <ColorBox bg={color} />)}
        </Palette>
        <Palette title="Brights">
          {brightColors.map((color) => <ColorBox bg={color} />)}
        </Palette>
        <Palette title="Grays">
          {grays.map((color) => <ColorBox bg={color} />)}
        </Palette>
      </section>
      <section id="fg-and-bg" class="py-24 px-6 bg-[#27272a]">
        <Palette title="Background and Foreground">
          {bgAndFg.map((color) => <ColorBox bg={color} />)}
        </Palette>
      </section>
    </main>
  </body>
</html>
